<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alumni Gloria Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="shortcut icon" type="image/png" href="{{static_path}}images/favicon.png">-->

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
<!--    load the CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'frontend/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/custom.css' %}">

    <script src="{{static_path}}js/jquery-3.3.1.min.js"></script>

</head>
<body>
    <div class="m-3" style="text-align:center">
        <img src="{% static 'dashboard/img/question.jpeg' %}" style="height:250px;">
        <h2>Whoopsy! . . .</h2>
        <h4>Looks like we got error number 404.</h4>
        <p>we couldn't find the page you're looking for.</p>
        <a href="{% url 'dashboard:index' %}" class="btn btn-rodexshop">Homepage</a>
    </div>
</body>
</html>
